<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <mat-form-field appearance="outline" class="width">
      <mat-label>Username</mat-label>
      <input 
        matInput 
        formControlName="username" 
        type="text" 
        required
        autocomplete="username"
      />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
      name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        formControlName="password" 
        type="password" 
        required
       
      />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

   

    <button 
      mat-raised-button 
      color="primary" 
      type="submit" 
      [disabled]="loginForm.invalid"
      class="login-button"
    >
      <span>Login</span>
      
    </button>
  </form>
</mat-card>