<header class="header">
    <nav class="nav">
        <div class="title">
            GymFit
        </div>
        <ul class="links">
            <li class="link" routerLink="/" routerLinkActive="active" >
                Home
            </li>
            <li class="link" routerLink="/memberships" routerLinkActive="active">
                Membership
            </li>
            <li class="link" routerLink="/trainers" routerLinkActive="active">
                Trainers
            </li>
            <li class="link" routerLink="/workouts" routerLinkActive="active">
                Workouts
            </li>
            <li class="link" routerLink="/about" routerLinkActive="active">
                About Us
            </li>
            <li class="link" (click)="logout()">
                Log Out
            </li>
        </ul>
    </nav>
</header>


