/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */

  .registration-form {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;     /* vertically center */
    height: 100vh;           /* take full viewport height */
  }


  .column {
    display: flex;
    gap: 20px;               /* space between first and last name fields */
  }
  

  mat-form-field {
    width: 200px;            /* or whatever width you prefer */
  }