<mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter..." />
  </mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of objectKeys(columnHeader)"
      [matColumnDef]="column"
    >
      <ng-container [ngSwitch]="column">
  
        
        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ columnHeader[column] }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
  
  
      </ng-container>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
  </table>
  <mat-paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>